.logo-area{
    width: 100%;
    height: auto;
    background-image: url(../img/logo_area_background.jpg);
    background-size: cover;
    background-position:0% 50%;
}

.logo-area::after {
    content: '';
    background-color: rgba(255,255,255,0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}

.z-1{
    position: relative;
    z-index: 1;
}

section {
    margin-top: -60px;
    padding-top: 60px;
}

#desc{
    border-left: 5px solid #dee2e6;
    border-color: #007bff
}